/* Main Content Style */
body {
    font-family: 'Dosis', sans-serif;
    font-weight: 100;
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* background-color:rgba(179, 190, 182, 0.815); */
    /* justify-content: center;  */
} 

.main-container {
    padding: 0;
}

/* Header Style */

.social {
    height: 50px;
    width: 100vw;
    padding: 0;
}
.logo-icons {
    margin: 0;
}

.logo {
    color: teal;
}

/* Bio Style */

.bio {
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(2, 49, 49, 0.85);
    color: white;
    width: 100%;
    margin: 0;
}

.name {
    font-size: 50px;
    margin-bottom: 0;
}

.title {
    margin-bottom: 20px;
}

.bio > p {
    border-radius: 4px;
    background-color: rgba(4, 20, 20, 0.384);
    padding: 5px;
    
}

/* Project Section Style */

.projects {
    width: 100vw;
    padding: 0;
}

.project-heading {
    color: teal;
}

.screenshot {
    display: block;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, .1);
    border-radius: 8px;
}
.project-image > p {
    display: block;
    color: teal;
}

a {
    color: teal;
}

img:hover {
    color: teal;
    box-shadow: 1px 1px 5px teal;
}

a:hover {
    color: teal;
    text-shadow: 0px 0px 1px black;
    text-decoration: none;
}

/* Skill Section Style */

.skills {
    /* border: 1px solid red; */
    color: white;
} 

/* Footer Style */

footer {
    color: teal;
}

